#dig-up-button {
    background-color: #5D6E1E;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    border-radius: 10rem;
}

#dig-up-icon {
    width: 1.5rem;
}

#modal-dig-up-button {
    background-color: #5D6E1E;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    border-radius: 10rem;
    margin: 0.75rem 0;
}

#modal-dig-up-icon {
    width: 2rem;
}

.plant-profile-small-button-text {

    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.plant-profile-small-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
}

.custom-primary-button {
    background-color: #5D6E1E !important;
    border-style: none !important;
}

.custom-primary-button:active {
    background-color: #94B447 !important;
}

.plant-profile-small-button-height-fix {

    margin-top: 2.25rem;
}

.plant-profile-small-button-container:active {
    color: #94B447;
}
