.plant-profile-notes-card {
    margin: 1em 0em;
    padding: 1.25em;
    border-radius: 20px;
    box-shadow: 0 .25rem 0.5rem rgba(0,0,0,.15)!important;
}

#plant-profile-subhead {
    color: #a3a3a3;
    font-weight: light;
}