#bottom-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  background-color: #94B447;
  height: 5.5rem;
  text-align: center;
  padding: 1.25rem 0.75rem 0 0.75rem;
}

.bottom-nav-link,
.bottom-nav-link:active,
.bottom-nav-link:visited {
  color: #ffffff;
  text-decoration: none;
}

.bottom-nav-icon {
  margin-bottom: 0.25rem;
}
