#leaderboard-accent-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: -100;
    background: rgb(91,168,160);
}

#top-five-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60vh;
    z-index: 100;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
}
