#leaderboard-accent-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    z-index: -100;
    background: rgb(91,168,160);
    background: linear-gradient(125deg, rgba(91,168,160,1) 0%, rgba(203,229,78,1) 97%);
}

#top-five-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60vh;

    padding: 1.25em;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
}

#leaderboard-nav-block {
    height: 5.5rem;
}