#login-container {
    height: 100vh;
    background-color: #94B447;
}

#signup-bg {
    background-image: url("../../config/assets/images/signup-bg.jpg");
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#login-card {

    background-color: #FFF;
    width: 21rem;
    height: 22.5rem;
    padding: 2rem;
    margin-top: 14rem;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.custom-primary-button {
    background-color: #5D6E1E !important;
    border-style: none !important;
}

#login-signup-link {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}