.about-us-hero-container {
    height: 50vh;
    background: url('./images/full-hero.jpg') no-repeat center;
    box-shadow:inset 0 -10px 10px #3844282c;
    background-size: cover;
    background-attachment: fixed;

}

#about-us-main-title {
    color: #FFFFFF;
    top: 0.2%;
    position: absolute;
    margin-left: 1em;
    padding-top: 1em;
    font-weight: normal;
    font-size: 2.5em;
}

.about-us-h2 {
    color: #5BA8A0;
    text-align: center;
}

#about-us-section {
    margin: 2.5em;
}

.about-us-content {
    margin-top: 1.5em;
    margin-bottom: 5em;
}

/* TEAM-MEMBERS */

.all-members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-us-my-sprout {
    color: #5D6E1E;
    font-weight: bold;
}

/*---AVATAR---*/
.about-us-avatar {
    width: 250px;
    margin: 1em;
    box-shadow: 0px 1px 10px #00000038;
    border-radius: 50%;
}

@media (min-width: 768px) {

    .about-us-hero-container {
        background: url('./images/side-hero.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }


    .member-container {
        flex-direction: row;
    }

    #about-us-main-title {
        font-size: 3.5em;
    }

    .member-description {
        width: 350px;
        margin: 2em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

}

@media (min-width: 1025px) {
    .hero-container {
        background: url('./images/side-hero.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    #about-us-main-title {
        font-size: 3.5em;
    }

}
