.alert-water {
    margin: 1em 0em 1em 0em;
    padding: 1em;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    background-color: #bfdd78;
}

.alert-water p {
    margin-bottom: 0em;
    align-self: center;
}

.alert-water-plant-img {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1em;

    object-fit: cover;
    border-radius: 50rem;
}

.alert-water-btn {
    width: 3rem;
    height: 3em;
    padding: 0.25em;
    border-radius: 50rem;

    align-self: center;
    justify-self: end;

    text-decoration: none;
    background-color: #5D6E1E;

}


.alert-water-btn:hover {
    cursor: pointer;

}

.alert-water-btn:active {
    background-color: #94B447;
}