#profile-add-button {
    justify-self: flex-end;
    width: 1.25rem;
  }

.custom-primary-button {
    background-color: #5D6E1E !important;
    border-style: none !important;
}

.sprout-modal-text {

    margin-bottom: 0.25rem;
}

#sprout-modal-notes {
    height: 5rem;
}