#my-sprouts-score-bar {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #3B5284;
    margin: 0em 1em 1em 1em;
    padding: 0.3em;
}

.my-sprouts-score-bar-item {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.my-score-bar-item-value {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.my-score-bar-item-title {
    font-size: 13px;
    color: #FFFFFF;

}