.plant-list-img {

    height: 5rem;
    width: 5rem;
    border-radius: 20rem;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.plant-list-name {

    font-size: 0.75rem;
}

.plant-list-item {

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.plant-list-name-div {
    max-width: 7rem;

}